<h4>Skills</h4>
<div class="skills">
	@for (item of skillsData; track item.name) {
		<div class="skills__item">
			<p>{{ item.name }}</p>
			<div class="skills__stars">
				@for (starItem of [1, 2, 3, 4, 5]; track starItem) {
					@if (starItem <= item.stars) {
						<i class="mdi mdi-star"></i>
					}
					@if (!isDecimal(item.stars) && starItem > item.stars && starItem !== mathCeiling(item.stars + 1)) {
						<i class="mdi mdi-star-half-full"></i>
					}
					@if (starItem > item.stars && starItem > mathCeiling(item.stars)) {
						<i class="mdi mdi-star-outline"></i>
					}
				}
			</div>
		</div>
	}
</div>
