@import '~@angular/material/theming';
@import '~styles/themes/michael-theme';
@import '~styles/variables';

portfolio-component {
    color: mat-color($candy-app-primary);
    text-align: center;

    h2 {
        font-size: $secondary-header-size;
        margin: 2% 0 4%;
    }

    .project-box {
        padding: 0 6%;
        position: relative;

        .project {
            outline: none;
            padding: 0 .25%;

            &:hover {
                .portfolio-details {
                    &:after {
                        $border-width: 25%;
                        border-color: mat-color($candy-app-accent);
                        margin-left: -($border-width / 2);
                        width: $border-width;
                    }
                }
            }

            .portfolio-details {
                position: relative;
                text-align: center;

                &:after {
                    $border-width: 20%;
                    border-bottom: 1px solid mat-color($candy-app-primary);
                    bottom: 0;
                    content : '';
                    height: 1px;
                    left: 50%;
                    margin-left: -($border-width / 2);
                    position: absolute;
                    transition: .25s linear all;
                    width: $border-width;
                }

                .website-logo,
                .title {
                    display: block;
                    margin: 0 auto;
                }

                .website-logo {
                    height: 40px;
                    max-width: 80%;
                    padding-bottom: 3%;
                }

                .title {
                    margin-bottom: 5%;
                    padding-bottom: 4%;
                }
            }

            .content {
                font-size: 15px;
                text-align: left;

                a {
                    color: mat-color($candy-app-primary);

                    &:hover {
                        color: mat-color($candy-app-accent);
                    }
                }
            }
        }
    }
}
