@use 'src/styles/variables' as *;
@use 'src/styles/mixins';

:host {
	@include mixins.section-styles;
}

.language {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;

	&__item {
		box-sizing: border-box;
		margin-bottom: 2.5rem;
		padding: 0 1rem;
		text-align: center;
		width: 16%;

		@media ($mobile) {
			width: 33%;
		}

		img {
			margin-bottom: .75rem;
			max-height: 8vw;
			width: 100%;
			filter: drop-shadow(3px 5px 2px rgba($grey-dark, 0.2));

			@media ($mobile) {
				max-height: 16vw;
			}
		}

		span {
			font-size: 1rem;
			font-weight: 600;

			@media ($mobile) {
				font-size: .9rem;
			}
		}
	}
}

@include mixins.section-after;
