{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"printWidth": 150,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "none",
	"semi": true,
	"singleQuote": true,
	"insertPragma": true,
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "auto",
	"overrides": [
		{
			"files": "*.yml",
			"options": {
			"tabWidth": 2,
			"useTabs": false
		}
	}
]
}
