// Style Sheet Imports
@import "src/styles/palette";

// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

// Fonts
$primary-font: 'Ubuntu', sans-serif;

// Media Queries
$desktop-xlarge: 'min-width: 2000px';
$app-max: 'min-width: 1680px';
$desktop-large: 'min-width: 1280px';
$desktop-1200: 'min-width: 1200px';
$desktop-md: 'min-width:992px';
$desktop: 'min-width: 767px';
$mobile: 'max-width: 766px';
$xs: 'max-width: 576px';

// Transitions
$primary-transition: 0.25s linear;

// Main Colors
$background-color: $off-white;
$primary-color: $red;
$primary-font-color: $grey-dark;

// Navigation Colors
$nav-color-background: $primary-color;
$nav-color-font: $off-white;
$nav-color-font-hover: $grey-light;
$nav-size-font: 1.25rem;

// Section Variables
$section-border: 2px solid $grey-light;
$section-padding-vertical: 3rem;
$section-padding: $section-padding-vertical 0;
$section-width: 60%;

// Home Colors
$home-color-background: $grey-light2;
$home-color-font: $off-white;
$home-color-icon-hover: $primary-color;

// About Colors
$picture-border: 1px solid $grey-light2;
$picture-radius: 6px;

// Resume
$resume-color-font: $grey-dark;
$resume-color-font-hover: $primary-color;
$resume-color-row1: $grey-light2;
$resume-color-row2: $grey-light;
$resume-color-row3: $grey-dark;
$resume-size-font-row1: 1.2rem;
$resume-weight-font-row1: 700;
$resume-size-font-row2: 1.1rem;
$resume-weight-font-row2: 400;
$resume-size-font-row3:1rem;
$resume-weight-font-row3: 500;

// Footer Variables
$footer-color-background: $grey-light3;
$footer-color-font: $grey-dark;
