<section>
	<h3>Résumé</h3>
	<section class="details">
		<p><i class="mdi mdi-briefcase"></i>Software Engineering Manager</p>
		<p><i class="mdi mdi-email"></i>michaelsouellette@gmail.com</p>
		<p><i class="mdi mdi-web"></i>http://www.michaelouellette.com</p>
		<p><i class="mdi mdi-home"></i>Pittsburgh, PA</p>
		<p>Experienced Software Engineer with a demonstrated history of web applications. Skilled in Angular, Node.js, SASS, HTML, Firebase, PHP, Web Design, and Adobe Photoshop. Strong engineering professional with a Bachelor of Science (B.S.) focused in Business Management and Management Information Systems from Penn State Erie, The Behrend College.</p>
	</section>
	<section>
		<h4>Professional Experience</h4>
		<app-position *ngFor="let item of professionalExperience" [data]="item"></app-position>
	</section>
	<section>
		<h4>Freelance Experience</h4>
		<app-position *ngFor="let item of freelanceExperience" [data]="item"></app-position>
	</section>
	<section>
		<h4>Education</h4>
		<app-position *ngFor="let item of education" [data]="item"></app-position>
	</section>
</section>
