@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
	@include section-styles;

	&::ng-deep {
		h4 {
			border-bottom: 1px solid $primary-color;
			font-size: 1.3rem;
		}
	}

	.resume {
		display: flex;
		flex-direction: row;

		&__left {
			flex: 2;
		}

		&__right {
			border-left: 1px solid $grey-light3;
			box-sizing: border-box;
			flex: .5;
			margin-left: 2rem;
			padding-left: 2rem;
		}
	}
}

@include section-after;
