<!--The content below is only a placeholder and can be replaced.-->
<ng-container>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened="true" class="sidenav">
            <michael-sidenav></michael-sidenav>
        </mat-sidenav>

        <div class="content">
            <div class="hero-image" [ngStyle]="{backgroundImage: 'url(./assets/heros/hero1.jpg)'}">
            </div>
            <div style="text-align:center">
                <h1>{{ title }}</h1>
                <div class="badges">
                    <img width="100" alt="Angular Logo" src="./assets/badges/angular.svg">
                    <img width="100" alt="HTML5 Logo" src="./assets/badges/html5.svg">
                    <img width="100" alt="CSS3 Logo" src="./assets/badges/css3.svg">
                    <img width="100" alt="Sass Logo" src="./assets/badges/sass.svg">
                    <img width="100" alt="NodeJS Logo" src="./assets/badges/nodejs.svg">
                    <img width="100" alt="MongoDB Logo" src="./assets/badges/mongodb.svg">
                    <img width="100" alt="Firebase Logo" src="./assets/badges/firebase.svg">
                </div>
            </div>
            <div class="padding">
                <h2>Portfolio</h2>
                <portfolio-component></portfolio-component>
            </div>
            <div class="padding">
                <h2>Here are some links to help you start: </h2>
                <ul>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
                    </li>
                    <li>
                        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </mat-sidenav-container>
</ng-container>
