// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/styles/themes/michael-theme';

mat-sidenav {
    &.sidenav {
        padding: 10px;
        text-align: center;
        width: 25%;

        .name {
            font-size: 36px;
        }

        .logo {
            $logo-size: 160px;
            background: mat-color($candy-app-accent);
            border-radius: 50%;
            box-shadow: 1px 1px 10px mat-color($candy-app-primary, 900);
            color: mat-color($candy-app-primary, 50);
            display: flex;
            font-size: $logo-size / 2.2;
            height: $logo-size;
            justify-content: center;
            margin: 6% auto 4% auto;
            width: $logo-size;

            .inner {
                align-self: center;
                // text-shadow: 0px 1px 4px mat-color($candy-app-primary, 700);
            }
        }

        .social-icons {
            font-size: 20px;
            padding: 1% 0 3%;

            .icon {
                padding: 0 1%;

                &:hover {
                    color: mat-color($candy-app-accent);
                }
            }
        }

        .city {
            margin: 0;
            padding: 3% 0;

            fa {
                margin-right: 5px;
            }
        }
    }
}
