@import '~@angular/material/theming';
@import '~styles/themes/michael-theme';
@import '~styles/variables';

mat-sidenav {
    &.sidenav {
        bottom: 0;
        left: 0;
        padding: 10px;
        position: fixed;
        text-align: center;
        top: 0;
        width: 25%;

        .name {
            font-size: 36px;
        }

        .social-icons {
            font-size: 20px;
            padding: 1% 0 3%;

            .icon {
                padding: 0 1%;
                transition: $link-transition;

                &:hover {
                    color: mat-color($candy-app-accent);
                }
            }
        }

        .city {
            margin: 0;
            padding: 3% 0;

            fa {
                margin-right: 5px;
            }
        }
    }
}
