@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
	@include section-styles;
	padding-bottom: $section-padding-vertical;

	.contact {
		display: flex;
		flex-direction: row;
		justify-content: center;

		&__icon {
			$size: 5rem;
			align-items: center;
			background: $contact-color-icon-background;
			border-radius: 50%;
			color: $contact-color-icon;
			display: flex;
			font-size: 3rem;
			height: $size;
			justify-content: center;
			margin: 0 2rem;
			transition: $primary-transition;
			width: $size;

			@media ($mobile) {
				$size: 70px;
				font-size: 2.5rem;
				height: $size;
				width: $size;
			}

			&:hover {
				background: $contact-color-icon-background-hover;
			}
		}
	}
}
