<h3>Contact Me</h3>
<div class="contact">
	<a class="contact__icon" href="mailto:michaelsouellette@gmail.com" title="Contact Michael Ouellette via E-Mail">
		<i class="mdi mdi-email"></i>
	</a>
	<a class="contact__icon" target="_blank" href="https://www.linkedin.com/in/michaelouellette/" title="Contact Michael Ouellette via LinkedIn">
		<i class="mdi mdi-linkedin"></i>
	</a>
	<a class="contact__icon" href="tel:412-467-6016" title="Contact Michael Ouellette via Phone">
		<i class="mdi mdi-phone"></i>
	</a>
</div>
