@use 'src/styles/variables' as *;
@use 'src/styles/mixins';

:host {
	@include mixins.section-styles;
	padding-top: 3rem;

	.about {
		display: flex;
		flex-direction: row;

		@media ($mobile) {
			flex-direction: column;
		}

		&__left {
			box-sizing: border-box;
			display: inline-block;
			flex: 1;
			padding-right: 2rem;
			position: relative;

			@media ($mobile) {
				padding: 0;
			}

			img {
				border: $picture-border;
				border-radius: $picture-radius;
				display: block;
				max-width: 100%;
				filter: drop-shadow(3px 5px 2px rgba($grey-dark, 0.2));

				@media ($mobile) {
					margin: 0 auto;
					max-width: 60%;
				}
			}
		}

		&__right {
			align-self: center;
			display: inline-block;
			flex: 3;
			position: relative;
		}
	}
}

@include mixins.section-after;
