@import "src/styles/variables";

:host {
	background-color: $home-color-background;
	background-image: url('src/assets/clement-h-544786-unsplash.jpg');
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;;
	color: $home-color-font;
	display: block;
	height: 100%;
	position: relative;
	width: 100%;
}

.home-component {
	padding-top: 3rem;
	text-align: center;
	width: 100%;

	img {
		@media ($mobile) {
			width: 12rem;
		}
	}

	h1 {
		font-weight: 300;
    	text-transform: uppercase;
    	letter-spacing: 8px;
	}

	h1,
	h2 {
		text-shadow: 2px 2px 5px $grey-dark;;
	}

	.socialIcons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;

		&__icon {
			color: $home-color-font;
			display: inline-block;
			font-size: 2rem;
			margin: 0 .5rem;
			transition: $primary-transition;

			&:hover {
				color: $home-color-icon-hover;
			}
		}
	}
}
