@use 'src/styles/variables' as *;

:host {
	background-color: $home-color-background;
	background-image: url('/assets/clement-h-544786-unsplash.webp');
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	color: $home-color-font;
	display: block;
	height: 100vh;
	position: relative;
	width: 100%;

	@media ($mobile) {
		background-image: url('/assets/clement-h-544786-unsplash-mobile.webp');
	}
}

.home-component {
	$home-padding: 3rem;
	padding: $home-padding 0;
	text-align: center;
	width: 100%;

	@media ($mobile) {
		padding-bottom: $home-padding;
	}

	img {
		@media ($mobile) {
			width: 12rem;
		}
	}

	h1 {
		font-weight: 300;
    	text-transform: uppercase;
    	letter-spacing: 8px;
	}

	h1,
	h2 {
		text-shadow: 2px 2px 5px $grey-dark;;
	}

	.socialIcons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;

		&__icon {
			color: $home-color-font;
			display: inline-block;
			font-size: 2rem;
			margin: 0 .5rem;
			transition: $primary-transition;

			&:hover {
				color: $home-color-icon-hover;
			}
		}
	}
}
