<section class="details">
  <p class="details__lineItem"><i class="mdi mdi-briefcase"></i><span>Software Engineering Manager</span></p>
  <p class="details__lineItem"><i class="mdi mdi-email"></i><a href="mailto:michael@ouellette.dev" rel="noopener">michael&#64;ouellette.dev</a></p>
  <p class="details__lineItem"><i class="mdi mdi-web"></i><a href="/">https://michael.ouellette.dev</a></p>
  <p class="details__lineItem"><i class="mdi mdi-home"></i><span>Pittsburgh, PA</span></p>
  <p>Dynamic and results-driven Software Engineering Manager with over 14 years of progressive professional experience in web development, team leadership, and software architecture. Demonstrates expertise in designing and implementing corporate design systems, leading cross-functional teams, and driving the development of scalable software solutions. Adept at fostering collaboration across teams, streamlining processes, and ensuring high-quality deliverables. Committed to staying at the forefront of technological advancements and continuously enhancing organizational capabilities.</p>
</section>
<section>
  <h4>Professional Experience</h4>
  @for (item of professionalExperience; track item) {
    <app-position-new [data]="item"></app-position-new>
  }
</section>
<section>
  <h4>Freelance Experience</h4>
  @for (item of freelanceExperience; track item) {
    <app-position [data]="item"></app-position>
  }
</section>
<section>
  <h4>Education</h4>
  @for (item of education; track item) {
    <app-position [data]="item"></app-position>
  }
</section>
