@import "src/styles/variables";

:host {
	background: $footer-color-background;
	bottom: 0;
	color: $footer-color-font;
	display: block;
	padding: 1.5rem 0;
	position: relative;
	text-align: center;
	width: 100%;

	p {
		margin: 0;
		padding: 0;
	}
}
