<div style="text-align:center">
    <h1>{{ title }}</h1>
    <div class="badges">
        <img width="100" alt="Angular Logo" src="./assets/badges/angular.svg">
        <img width="100" alt="HTML5 Logo" src="./assets/badges/html5.svg">
        <img width="100" alt="CSS3 Logo" src="./assets/badges/css3.svg">
        <img width="100" alt="Sass Logo" src="./assets/badges/sass.svg">
        <img width="100" alt="NodeJS Logo" src="./assets/badges/nodejs.svg">
        <img width="100" alt="MongoDB Logo" src="./assets/badges/mongodb.svg">
        <img width="100" alt="Firebase Logo" src="./assets/badges/firebase.svg">
    </div>
</div>
