<div style="text-align:center">
    <h2>{{ title }}</h2>
    <div class="badges">
        <img width="100" alt="Angular Logo" src="./assets/badges/angular.svg">
        <img width="100" alt="HTML5 Logo" src="./assets/badges/html5.svg">
        <img width="100" alt="CSS3 Logo" src="./assets/badges/css3.svg">
        <img width="100" alt="Sass Logo" src="./assets/badges/sass.svg">
        <img width="100" alt="NodeJS Logo" src="./assets/badges/nodejs.svg">
        <img width="100" alt="Gulp Logo" src="./assets/badges/gulp.svg">
        <img width="100" alt="Webpack Logo" src="./assets/badges/webpack.svg">
        <img width="100" alt="MongoDB Logo" src="./assets/badges/mongodb.svg">
        <img width="100" alt="Firebase Logo" src="./assets/badges/firebase.svg">
    </div>
    <div class="career">
        <div class="job">
            <span class="company">Dick's Sporting Goods</span>
            <span class="position">Senior Front-End Web Developer</span>
            <span class="details"></span>
        </div>
        <div class="job">
            <span class="company">Industry Weapon</span>
            <span class="position">Front-End Web Developer</span>
            <span class="details">Creating interactive wireframes for web apps, using AngularJS, jQuery, HTML5, and Sass to create integrations for interactive digital signage; contributing in the development of a web app style framework for future digital signage development; developing Node.js and AngularJS based mobile applications for wayfinding in relation to digital signage; using WebSocket to create real-time queue management systems; creating interactive puzzles and games using modern web technologies for use on touchscreen displays</span>
        </div>
        <div class="job">
            <span class="company">Jawbone</span>
            <span class="position">Web Developer</span>
            <span class="details">Developed growth initiatives around UP platform; responsive site development; rapid prototyping; full-stack development; lead development team in building of application; built web application using Python, AngularJS, HTML5, jQuery, and CSS3</span>
        </div>
    </div>
</div>
