/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './themes/michael-theme';

html,
body,
.mat-drawer-container {
    display: block;
    font-size: 100%;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

body,
.mat-drawer-content {
    background-color: mat-color($candy-app-primary);
    border-color: mat-color($candy-app-accent, A400);
    color: mat-color($candy-app-primary, 50);
}

.mat-drawer {
    background-color: mat-color($candy-app-primary, 600);
    border-right: 2px solid mat-color($candy-app-accent, A400);
    color: mat-color($candy-app-primary, 50);
}
